{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}
    <h1>Edit Genre</h1>        
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}            
{% endblock %}
