{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}   
    <h1>Username: {{ user.username }}</h1>
           
    <h1>Change username</h1>       
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
   
{% endblock %}
